In [25]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.linear_model import BayesianRidge
import re
import os
import warnings
warnings.filterwarnings("ignore")

sm1_oof = pd.DataFrame()
sm1_test = pd.DataFrame()
sm2_oof = pd.DataFrame()
sm2_test = pd.DataFrame()
for i in os.listdir("./submissions_1"):
    if re.findall(r"_oof",i):
        sm1_oof = pd.concat([sm1_oof, pd.read_csv(f"./submissions_1/{i}")], axis=1)
    if re.findall(r"_test",i):
        sm1_test = pd.concat([sm1_test, pd.read_csv(f"./submissions_1/{i}")], axis=1)
for i in os.listdir("./submissions_2"):
    if re.findall(r"_oof",i):
        sm2_oof = pd.concat([sm2_oof, pd.read_csv(f"./submissions_2/{i}")], axis=1)
    if re.findall(r"_test",i):
        sm2_test = pd.concat([sm2_test, pd.read_csv(f"./submissions_2/{i}")], axis=1)
    # print(pd.read_csv(f"./submissions_1/{i}")["num_sold"].mean())

In [30]:
sm2_oof.columns = [i+'_batch2' for i in sm2_oof.columns]
sm2_test.columns = [i+'_batch2' for i in sm2_test.columns]
sm1_oof.columns = [i+'_batch1' for i in sm1_oof.columns]
sm1_test.columns = [i+'_batch1' for i in sm1_test.columns]

In [34]:
sm_oof_agg = pd.concat([sm1_oof, sm2_oof], axis=1)
sm_test_agg = pd.concat([sm1_test, sm2_test], axis=1)

In [44]:
y = pd.read_csv("./dataup/y.csv", )

In [46]:
# y

In [39]:
sm_oof_agg

,CAT3_batch1,CAT_batch1,LGBM2_batch1,LGBM3_batch1,LGBM4_batch1,LGBM5_batch1,LGBM6_batch1,LGBM7_batch1,XGB2_batch1,XGB3_batch1,...,LGBM3_batch2,LGBM4_batch2,LGBM5_batch2,LGBM6_batch2,LGBM7_batch2,NN_batch2,XGB2_batch2,XGB3_batch2,XGB4_batch2,XGB5_batch2
0,4.840793,4.843033,4.876330,4.826543,4.843671,4.855868,4.804740,4.846237,4.652290,4.648875,...,4.836487,4.874994,4.868493,4.798973,4.886908,5.290986,4.660032,4.662170,4.672457,4.668439
1,6.687954,6.740011,6.699974,6.653769,6.699201,6.690587,6.638910,6.692928,6.582142,6.582286,...,6.657923,6.727719,6.706315,6.643888,6.730470,6.969771,6.596189,6.595112,6.596088,6.593470
2,6.475944,6.523834,6.541158,6.474610,6.542817,6.537004,6.455424,6.532558,6.385298,6.389880,...,6.480458,6.570101,6.545028,6.458630,6.547442,6.816236,6.399251,6.398905,6.410666,6.397512
3,5.871939,5.846154,5.934265,5.889834,5.915072,5.904733,5.873166,5.897612,5.811473,5.808485,...,5.896248,5.944972,5.909176,5.876328,5.951624,6.339122,5.819875,5.820808,5.818928,5.822016
4,6.101020,6.123959,6.113020,6.073993,6.099642,6.100628,6.067950,6.098175,5.934597,5.932074,...,6.077034,6.140740,6.125761,6.080905,6.136273,6.495418,5.951357,5.956929,5.973777,5.965976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230125,5.768997,5.780104,5.843894,5.848105,5.852386,5.842590,5.844970,5.860127,5.697699,5.700898,...,5.893625,5.892913,5.902006,5.879826,5.908945,5.954225,5.689165,5.678481,5.696255,5.665358
230126,7.615803,7.669134,7.665685,7.722163,7.651353,7.726823,7.737642,7.668988,7.558198,7.557146,...,7.756818,7.686750,7.775915,7.758946,7.731834,7.780059,7.549890,7.520568,7.546823,7.507559
230127,7.445878,7.524707,7.498731,7.548260,7.486662,7.555163,7.551897,7.499286,7.389399,7.390697,...,7.575750,7.526125,7.598553,7.580637,7.563096,7.591959,7.384134,7.358074,7.389257,7.352651
230128,6.909618,6.941745,6.903616,6.936895,6.902212,6.926591,6.952877,6.910089,6.803018,6.806650,...,6.978052,6.939726,6.984846,6.980354,6.982451,6.985443,6.798836,6.775290,6.805052,6.766303
230129,6.955570,7.066945,7.025478,7.066799,7.018576,7.050717,7.082809,7.029140,6.952938,6.950932,...,7.107379,7.060285,7.105355,7.104512,7.113463,7.133245,6.944516,6.918822,6.954939,6.912720

In [40]:
sm_test_agg

,CAT3_batch1,CAT_batch1,LGBM2_batch1,LGBM3_batch1,LGBM4_batch1,LGBM5_batch1,LGBM6_batch1,LGBM7_batch1,XGB2_batch1,XGB3_batch1,...,LGBM3_batch2,LGBM4_batch2,LGBM5_batch2,LGBM6_batch2,LGBM7_batch2,NN_batch2,XGB2_batch2,XGB3_batch2,XGB4_batch2,XGB5_batch2
0,4.900118,4.906029,4.879158,4.900366,4.881984,4.880559,4.900861,4.900741,4.933862,4.932061,...,4.899179,4.897073,4.891833,4.904101,4.915618,4.823110,4.960539,4.965342,4.970452,4.966944
1,6.738892,6.775739,6.701615,6.728098,6.706580,6.712897,6.730187,6.726341,6.820692,6.816904,...,6.742886,6.726479,6.734965,6.749503,6.746511,6.689478,6.845974,6.844656,6.842818,6.834563
2,6.541316,6.565179,6.552072,6.563626,6.555480,6.550869,6.558867,6.558305,6.649313,6.648158,...,6.573314,6.574603,6.570764,6.570154,6.564681,6.476702,6.678202,6.675470,6.685334,6.680078
3,5.913809,5.905651,5.935039,5.953940,5.938355,5.914736,5.959806,5.936921,6.031014,6.030461,...,5.965197,5.961866,5.939146,5.965611,5.955547,5.863145,6.051177,6.054079,6.059810,6.056638
4,6.163483,6.181901,6.115276,6.145353,6.119091,6.121280,6.145464,6.126209,6.200086,6.198956,...,6.156107,6.152335,6.155196,6.154208,6.149075,6.016196,6.232297,6.226105,6.225431,6.218265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98545,5.908518,5.907435,5.979833,5.927664,5.971044,5.953185,5.914144,5.955040,5.900373,5.901581,...,5.848450,5.872276,5.868236,5.853206,5.891008,6.292369,5.841795,5.841443,5.865880,5.863684
98546,7.729314,7.774675,7.783650,7.749604,7.785152,7.808642,7.750718,7.770562,7.780310,7.783721,...,7.669248,7.683426,7.711482,7.687021,7.725152,8.181613,7.726085,7.727356,7.744367,7.739607
98547,7.562324,7.625166,7.589957,7.561177,7.589778,7.607684,7.553764,7.568274,7.578031,7.579280,...,7.485120,7.502243,7.523812,7.501272,7.535528,8.009028,7.536078,7.534474,7.520276,7.520053
98548,7.026585,7.050235,6.988818,6.968156,6.985615,7.006478,6.968407,6.981936,6.971657,6.973124,...,6.900618,6.916243,6.942073,6.926026,6.949610,7.429857,6.920325,6.917797,6.936543,6.934002
98549,7.078121,7.176077,7.159807,7.126567,7.157660,7.156646,7.126126,7.150176,7.167089,7.165803,...,7.047918,7.082585,7.069737,7.067310,7.113819,7.602704,7.120991,7.114089,7.123861,7.120725

In [11]:
class Config:
    
    state = 4152
    n_splits = 5
    early_stop = 200
        
    target = 'num_sold'
    train = pd.read_csv('./datadown/train.csv', index_col='id')
    test = pd.read_csv('./datadown/test.csv', index_col='id')
    submission = pd.read_csv('./datadown/sample_submission.csv')

    original_data = 'N'
    outliers = 'N'
    log_trf = 'Y'
    scaler_trf = 'N'
    feature_eng = 'Y'
    missing = 'Y'

In [3]:


class Ensemble:
    def __init__(self, n_splits=5, state=42):
        self.n_splits = n_splits
        self.state = state

    def ensemble(self, X, y, test):
        scores = []
        oof_pred = np.zeros(X.shape[0])
        test_pred = np.zeros(test.shape[0])
        model = BayesianRidge()
        kf = KFold(n_splits=self.n_splits, random_state=self.state, shuffle=True)

        for fold_idx, (train_idx, val_idx) in enumerate(kf.split(X, y)):
            X_train, X_val = X.iloc[train_idx], X.iloc[val_idx]
            y_train, y_val = y.iloc[train_idx], y.iloc[val_idx]

            model.fit(X_train, y_train)

            y_pred_probs = model.predict(X_val)
            oof_pred[val_idx] = y_pred_probs
            test_pred += model.predict(test) / self.n_splits

            score = mean_absolute_percentage_error(
                np.expm1(y_val), np.expm1(y_pred_probs)
            )
            scores.append(score)

        return np.mean(scores), oof_pred, test_pred

In [5]:
e = Ensemble()

In [49]:
submission_ = e.ensemble(sm_oof_agg, y, sm_test_agg)

d:\Installs\miniconda\envs\devp\Lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if not accept_large_sparse:
d:\Installs\miniconda\envs\devp\Lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if not accept_large_sparse:
d:\Installs\miniconda\envs\devp\Lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if not accept_large_sparse:
d:\Installs\miniconda\envs\devp\Lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if not accept_large_sparse:
d:\Installs\miniconda\envs\devp\Lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if not accept_large_sparse:

In [52]:
sb = pd.read_csv("./datadown/sample_submission.csv")

In [64]:
sb_nomodel = pd.read_csv("./submission_0/sub_nomodel.csv")

In [55]:
sb['num_sold'] = submission_[2]

In [61]:
sb['num_sold'] = np.round(np.clip(1.01*np.expm1(submission_[2]) , 0, 6000))

In [65]:
sb_nomodel

           id  num_sold
0      230130     158.0
1      230131    1031.0
2      230132     775.0
3      230133     458.0
4      230134     523.0
...       ...       ...
98545  328675     475.0
98546  328676    2924.0
98547  328677    2598.0
98548  328678    1331.0
98549  328679    1577.0

[98550 rows x 2 columns]

In [62]:
sb

           id  num_sold
0      230130     134.0
1      230131     823.0
2      230132     687.0
3      230133     385.0
4      230134     459.0
...       ...       ...
98545  328675     400.0
98546  328676    2521.0
98547  328677    2105.0
98548  328678    1200.0
98549  328679    1346.0

[98550 rows x 2 columns]

In [63]:
sb.to_csv("./submission_0/submission.csv", index=None)